[submodule "compositor/ags-base"]
	path = compositor/ags-base
	url = https://github.com/Aylur/ags
[submodule "compositor/hyprland-base"]
	path = compositor/hyprland-base
	url = https://github.com/hyprwm/Hyprland
[submodule "shell/rofi-base"]
	path = shell/rofi-base
	url = https://github.com/lbonn/rofi
